body {
  background-color: black;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('PressStart2P.ttf');
}

canvas#gameCanvas {
  display: none;
}

#loginDiv {
  position: absolute;
  width: 420px;
  height: 400px;
  background-color: #213047;

  border-radius: 2px;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  color: white;
  padding-left: 10px;
  font-family: Helvetica;
  font-family: 'PressStart2P';

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1#title {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 35px;
  font-size: 32px;
}

p {
  margin-bottom: 4px;
  font-size: 16px;
}

p.errorText {
  color: red;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 10px;
}

button#connectButton {
  margin-top: 15px;
  width: 40%;
  height: 40px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #ccc;
  font-family: 'PressStart2P';
  font-size: 16px;
  outline: none;
}

button#connectButton:active {
  color: black;
  margin-top: 18px;
}

input {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 1px;
  border-radius: 2px;
  width: 95%;
  font-family: 'PressStart2P';
}

input:focus {
  outline: none;
  margin: 0px;
  border: 2px solid #1a6df2;
}

input.error {
  border: 2px solid #ad1111;
  margin: 0px;
}
